@import "tailwindcss";
@import "@heroui/styles";
@import "./fragments/navbar/navbar.css";
@import "./fragments/sidebar/sidebar.css";
@import "./fragments/shell/shell.css";
@import "./fragments/page/page-header.css";
@import "./fragments/widget/widget.css";
@import "./components/grid/grid.css";
@import "./components/multi-switch/multi-switch.css";
@import "./fragments/form/form.css";
@import "./fragments/form/form-section.css";

@theme {
  --text-xs: 13px;
  --text-sm: 15px;
}

@layer base {
  h1 {
    @apply text-3xl font-semibold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  h3 {
    @apply text-xl font-semibold;
  }
}

@layer components {
  .input, .textarea, .select__trigger {
    @apply border border-border px-5 py-3 shadow-none;
  }

  .select__indicator {
    @apply right-4;
  }

  .tabs {
    &:not(.tabs--secondary) {
      .tabs__list {
        @apply border border-border bg-surface;
      }
    }

    .tabs__tab {
      @apply h-9 px-6;
    }

    &.tabs--secondary {
      .tabs__tab {
        @apply h-11 px-7;
      }
    }
  }

  .tabs__indicator {
    @apply shadow-none;
  }

  .card {
    @apply border border-border shadow-none;
  }

  .button {
    &.button--md:not(.button--icon-only) {
      @apply h-11 px-5;

      @media (width >= 48rem) {
        @apply h-11 px-5;
      }
    }
  }
}


/*
 * HeroUI Theme Customization
 * Add this to your global.css after importing @heroui/styles
 * Only includes base variables from variables.css
 * @see https://v3.heroui.com/docs/react/getting-started/theming
 */

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(68.60% 0.1794 24.57);
  --accent-foreground: #FCFAF6;
  --background: #FCFAF6;
  --border: #E8E8E8;
  --danger: oklch(65.32% 0.2367 358.23);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94.00% 0.0084 24.57);
  --default-foreground: oklch(21.03% 0.0059 24.57);
  --field-background: oklch(100.00% 0.0042 24.57);
  --field-foreground: oklch(21.03% 0.0084 24.57);
  --field-placeholder: oklch(55.17% 0.0168 24.57);
  --focus: oklch(90.00% 0.0084 24.57);
  --foreground: #000;
  --muted: oklch(55.17% 0.0168 24.57);
  --overlay: oklch(100.00% 0.0025 24.57);
  --overlay-foreground: oklch(21.03% 0.0084 24.57);
  --scrollbar: oklch(87.10% 0.0084 24.57);
  --segment: rgba(0, 0, 0, 0.9);
  --segment-foreground: #FCFAF6;
  --separator: oklch(92.00% 0.0084 24.57);

  --success: oklch(73.29% 0.1968 123.30);
  --success-foreground: oklch(21.03% 0.0059 123.30);

  --surface: #fff;
  --surface-foreground: #000;
  --surface-secondary: rgba(0, 0, 0, 0.02);
  --surface-secondary-foreground: #000;
  --surface-tertiary: oklch(93.73% 0.0067 24.57);
  --surface-tertiary-foreground: oklch(21.03% 0.0084 24.57);

  --warning: oklch(78.19% 0.1612 44.82);
  --warning-foreground: oklch(21.03% 0.0059 44.82);

  /* Border Radius */
  --radius: 0.5rem;
  --field-radius: 1rem;

  /* Font Family */
  /* Make sure to load Inter font in your app */
  --font-sans: var(--font-inter);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(68.60% 0.1794 24.57);
  --accent-foreground: oklch(15% 0.0300 24.57);
  --background: oklch(12.00% 0.0000 24.57);
  --border: oklch(28.00% 0.0000 24.57);
  --danger: oklch(59.40% 0.1967 357.12);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.40% 0.0000 24.57);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.0000 24.57);
  --field-foreground: oklch(99.11% 0.0000 24.57);
  --field-placeholder: oklch(70.50% 0.0000 24.57);
  --focus: oklch(68.60% 0.1794 24.57);
  --foreground: oklch(99.11% 0.0000 24.57);
  --muted: oklch(70.50% 0.0000 24.57);
  --overlay: oklch(21.03% 0.0000 24.57);
  --overlay-foreground: oklch(99.11% 0.0000 24.57);
  --scrollbar: oklch(70.50% 0.0000 24.57);
  --segment: oklch(39.64% 0.0000 24.57);
  --segment-foreground: oklch(99.11% 0.0000 24.57);
  --separator: oklch(25.00% 0.0000 24.57);
  --success: oklch(73.29% 0.1935 123.30);
  --success-foreground: oklch(21.03% 0.0059 123.30);
  --surface: oklch(21.03% 0.0000 24.57);
  --surface-foreground: oklch(99.11% 0.0000 24.57);
  --surface-secondary: oklch(25.70% 0.0000 24.57);
  --surface-secondary-foreground: oklch(99.11% 0.0000 24.57);
  --surface-tertiary: oklch(27.21% 0.0000 24.57);
  --surface-tertiary-foreground: oklch(99.11% 0.0000 24.57);
  --warning: oklch(82.03% 0.1388 48.83);
  --warning-foreground: oklch(21.03% 0.0059 48.83);
}